.cabecalho{
  position: fixed;
   display: flex;  
  flex-direction: row;
  justify-content: end;
   width: 100vw;
    height: 150px;
   z-index: 1000; 
    top: 0;
    left: 0;
    background-color: oklch(62.3% 0.214 259.815); 
       border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    align-items:center;
    gap: 20px;
    
 
}
.botaocarrinho{
     width: 100px;
    height: 50px;
     border-radius: 5px;
    background-color: oklch(12.9% 0.042 264.695);
 border-color: transparent;
 
}
.span{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.icons_tela{
    width: 20px;
    height: 20px;
}
.botaotela{
    width: 100px;
    height: 50px;
     border-radius: 5px;
    background-color: oklch(12.9% 0.042 264.695);
 border-color: transparent;
 padding-right: 5px;
 margin-right: 10px;
}
.icontela{
    width: 50px;
    height: 50px;
    
}
.tag{
    width: 50px;
    height: 25px;
    background-color: chocolate;
    border-radius: 20px;
    
}
.divisor{
     position: fixed;
     width: 100vw;
    height: 45px;
    display: flex;
    align-self: flex-end;
    
    flex-direction: row;
     border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex; 
    
    background-color: oklch(62.3% 0.214 259.815);

}
.divisor ul {
    display: flex;          
    list-style: none;       
    gap: 20px;              
    justify-content: center; 
    margin: 0;
    padding: 10px;
}
.conteudo-abaixo{
    width: 100%;
    display: flex;
    justify-content: flex-start;
      align-self:stretch;  
    align-items: flex-start;
    height: 50px;
   
      

}

.lista-produtos{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
     list-style: none; 
     gap: 20px;
    
       flex-wrap: wrap; 
     
  
}
.conteudo_produtos {
    
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    padding: 10px;
    width: 300px;
    height: 350px;
    background-color: oklch(62.3% 0.214 259.815);
    justify-items: center;
    border-radius: 20px;
    list-style: none;
    gap: 20px;
    align-items: center;
    
    
}
.opcoes{
     display: flex;
    flex-direction: row;
   align-items: center;
    font-size: 14px; 
    cursor: pointer;
    justify-content: center;
    padding-top: 5px;
  
}
.icon_pen{
  width: 19px;
  height: 19px;
  color:  oklch(12.9% 0.042 264.695);
}
.icon_delete{
      width: 24px;
  height: 24px;
  color:red;
}
.div{
    height: 5px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
  
    
}
.carrinho_lista{
color: black;
display: flex;
flex-direction: row;
gap: 5px;

}

.botaocompra{
  width: 80px;
  height: 20px;
  border-radius: 5px;
    background-color: oklch(12.9% 0.042 264.695);
 border-color: transparent;
 margin-bottom: 30px;
}
.subtracao{
    color: red;
}
.botoes{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 150px;
}
.pen{
    width: 15px;
    height: 15px;
}
