.fundo{
  width: 1000PX;
  display: flex;
  justify-content:center ;
  background-color: oklch(62.3% 0.214 259.815);
  border-radius: 20px;
  align-items: center;
   flex-direction: column;

}

.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
 
}
.mensagem-erro {
  color: white; 
  background-color: rgba(255, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
 
}
.input{
  background-color:  oklch(80.9% 0.105 251.813);
  border-radius: 10px;
  width: 200px;
  height: 20px;
  
}
.label{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.icon{
  width: 30px;
  height: 30px;
}
.texto{
  text-align: center;
}
.radio-group{
  display: flex;
  flex-direction: column;
 align-items: center;
}
.botao2{
  width: 150px;
  height: 30px;
  border-radius: 5px;
    background-color: oklch(12.9% 0.042 264.695);
 border-color: transparent;
}
.a{
 color: oklch(12.9% 0.042 264.695); ;
}