.label{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  
 
}
.cabecalho2{
  position: fixed;
   display: flex;  
  flex-direction: row;
  justify-content: end;
   width: 100vw;
    height: 100px;
   z-index: 1000; 
    top: 0;
    left: 0;
    background-color: oklch(62.3% 0.214 259.815); 
       border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    align-items:center;
    gap: 20px;
    
 
}
.botao3{
  width: 150px;
  height: 30px;
  border-radius: 5px;
    background-color: oklch(12.9% 0.042 264.695);
 border-color: transparent;
 margin-bottom: 30px;
}
.fundo2{
  width: 1000PX;
  display: flex;
  justify-content:center ;
  background-color: oklch(62.3% 0.214 259.815);
  border-radius: 20px;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;

}
.form a {
  width: 70px;
 
}
.botao1{
    width: 100px;

    justify-content: center;
  border-radius: 5px;
    background-color: oklch(12.9% 0.042 264.695);
 border-color: transparent;
}